/* chatMenu */

.tab__2 {
    min-width: 380px;
    max-width: 380px;
    background-color: #f5f7fb;
    margin-right: 2px;
}

.tab__2__wrapper {}

.conversations {
    overflow-y: auto;
    padding-right: 10px;
}


/* messenger */

.tab__3 {
    box-shadow: 0 2px 7px rgb(15 34 58 / 12%);
    background-color: #fff;
    flex: 3;
}

.chat_masseages {
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    height: 78%;
    overflow-y: scroll;
    border-bottom: 1px solid #e8e8ed!important;
    padding: 24px;
}


/* chat_header
    user
        user_avatar
        user_name
chat_masseages
chat_input */

.chat_header {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #e8e8ed!important;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.chat_input {
    height: calc(10% - 10px);
    display: flex;
}

.chat_input_wrapper {
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    width: 80%;
    height: 60%;
    margin-left: 50px;
}

input {
    width: 100%;
    height: 95%;
    outline-width: 0;
    border-radius: 5px;
    background-color: rgb(230, 235, 245);
    margin-left: 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #e6ebf5;
}

.send {
    width: 40px;
    height: 100%;
    font-size: 25px;
    border-radius: 5px;
    margin-left: 8px;
    border: 1px solid transparent;
    background-color: #7269ef;
    border-color: 7269ef;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.send:hover {
    cursor: pointer;
    background-color: blueviolet;
}

.send_icon {
    color: white;
}

.friendSearchField {
    width: 100%;
    height: 44px;
    margin-left: 0px;
    padding: 10px;
    padding-left: 25px;
    font: 400 13.5px Arial;
    background-color: rgb(230, 235, 245);
    border-radius: 5px;
}

.searchFriendBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 24px;
}

.addConversationButton {
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: rgb(241, 241, 241);
}

.addConversationButton:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

.textMessage {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(233, 223, 223);
    margin: 0;
}

.friendSearchForAdd {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(233, 223, 223);
    margin: 0;
}

.listFriends {
    height: 200px;
    border-radius: 12px;
    overflow-y: auto;
}

.addConverField {
    padding: 10px 0 10px 0;
}

.saveAddConver {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.closeAddConver {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.saveAddConver:hover {
    cursor: pointer;
    background-color: rgb(90, 76, 76);
}

.closeAddConver:hover {
    cursor: pointer;
    background-color: rgb(90, 76, 76);
}

.addConversationBar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 24px;
    padding-bottom: 0px;
    width: 100%;
}

.addConversationBar h4 {
    font-size: 1.3125rem;
    margin: 0;
    font-weight: 600;
    color: #495057;
    line-height: 35px;
}

.addConversationIcon {
    font-size: 18px;
}

.conversations-wrapper {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}

.conversations-wrapper h5 {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}

.user_name h5 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.chat_input {
    display: block;
}

.chatInputWrapper {
    display: flex;
    margin-top: 12px;
}

.chatInputField {
    flex: 0.95; 
    width: 70%;
    font: 400 13.5px Arial;
    border-radius: 5px;
}


