.tab__3 {
    width: 1070px;
    height: 750px;
    background-color: #fff;
    
}

/*
tab__3_infoChat
tab__3_list
tab__3_inputChat
*/

.tab__3_infoChat {
    height: 68px;
    width: 100%;
    border-left: 0;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190); 
}

.tab__3_list {
    list-style: none;
    height: 46px;
    width: 100%;
    border-left: 0;
    border-right: 0px;
    border-top: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: rgb(192, 190, 190); 
    margin-top: 580px;
}

.tab__3_inputChat {
    height: 55px;
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
   
}

.input_chat {
    height: 55px;
    width: 80%;
    border-style: none;
    font-size: 20px;
    outline: none; 
    padding-left: 10px;
    
}


.itemsChat {
    font-size: 25px;
    border: none; 
    background-color: rgb(234, 232, 232);
    color: #062b49;
    
}

.itemsChat:hover {
    cursor: pointer;
    border: 0 1px solid;
    /* color: #0091ff; */
    color: black;
}

/* commit first */

/* bla bla */