/* chatMenu */

.tab__2 {
    width: 350px;
    background-color: #fff;
    border-top-width: 0px;
    border-right: 1px;
    border-bottom-width: 0;
    border-left: 1px;
    border-style: solid;
    border-color: rgb(192, 190, 190);
}

.tab__2__wrapper {
    padding: 10px;
}


.conversations {
    overflow-y: auto;
    padding-right: 10px;
}


/* messenger */

.tab__3 {
    background-color: #fff;
    flex: 3;
}

.chat_masseages {
    margin-bottom: 10px;
    background-color: rgb(216, 251, 251);
    height: 80%;
    overflow-y: scroll;
}


/* chat_header
    user
        user_avatar
        user_name
chat_masseages
chat_input */

.chat_header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat_masseages {
    height: 80%;
}

.chat_input {
    height: calc(10% - 10px);
    display: flex;
}

.chat_input_wrapper {
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    width: 80%;
    height: 60%;
    margin-left: 50px;
}

input {
    width: 93%;
    height: 95%;
    border: none;
    outline-width: 0;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(241, 241, 241);
    margin-left: 10px;
}

.send {
    height: 65%;
    font-size: 25px;
    border-radius: 15px;
    margin-left: 8px;
    border: none;
    background-color: white;
}

.send_icon {
    color: #062b49;
}

.send_icon :hover {
    color: aqua;
}


.friendSearchField {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.searchFriendBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addConversationButton {
    border: none;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    background-color: rgb(241, 241, 241);
}

.addConversationButton:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}


.textMessage {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(233, 223, 223);
    margin: 0;
}

.friendSearchForAdd {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(233, 223, 223);
    margin: 0;
}


.listFriends {
    border: 1px solid black;
    height: 200px;
    border-radius: 12px;
    overflow-y:auto;
}

.addConverField {
    padding: 10px 0 10px 0;
}

.saveAddConver {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.closeAddConver {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.saveAddConver:hover{
    cursor: pointer;
    background-color: rgb(90, 76, 76);
}

.closeAddConver:hover {
    cursor: pointer;
    background-color: rgb(90, 76, 76);
}

