.tab__2 {
    width: 350px;
    height: 750px;
    background-color: #fff;
    border-top-width: 0px;
    border-right: 1px;
    border-bottom-width: 0;
    border-left: 1px;
    border-style: solid; 
    border-color: rgb(192, 190, 190);
}

