.tab__2 {
    width: 380px;
    border-top-width: 0px;
    border-bottom-width: 0;
    background-color: #f5f7fb;
}

.tab__2__wrapper {}

.friendChatMenu {
    width: 90%;
    padding: 10px;
    margin-left: 0;
}

.conversations {
    overflow-y: auto;
    padding-right: 10px;
}